<%- include('./layouts/header') %>

  <section id="at-about">
    <div id="profileimg"><img id="pppp" src="/IMG_20230509_160754.jpg" alt=""></div>
    <div id="about" class="headings" style="margin-top: 30px;"><span><i class="fa-solid fa-user"></i></span><span>
        About </span></div>
    <div style="margin:0px 2vw 0px 2vw;">
      <p style="margin:0px; font-size:larger; font-family: 'Poppins', sans-serif; text-align:justify;">I am Akshay
        Patidar, a final year B.Tech student majoring in Computer Science and Engineering at the Indian Institute of
        Information Technology (IIIT) Bhopal. With a strong foundation in programming, problem-solving, and software
        development, I have honed my skills in languages such as C++, JavaScript, HTML, CSS and MongoDB. I have
        completed over 400
        Data Structures and Algorithms problems across various competitive programming platforms, achieving a 3-star
        rating on CodeChef. My passion for coding has driven me to design and develop impactful projects like an online
        bookstore application using the MERN stack and Tailwind CSS.
        <br><br>
        During my academic journey, I have actively pursued opportunities to apply my skills to real-world challenges.
        My experience includes building responsive web applications, implementing user authentication systems, and
        leveraging modern frameworks to create seamless user experiences. Beyond technical expertise, I possess strong
        communication, teamwork, and leadership abilities, cultivated through my roles in college clubs and
        collaborative projects.
        <br><br>
        I am eager to contribute as a Software Development Engineer by solving complex problems and developing
        innovative solutions. My goal is to leverage my technical acumen and creative thinking to deliver high-quality,
        scalable software products that positively impact users and businesses alike.
        <br>
        <br>Looking forward, I am excited to continue developing my skills and exploring new areas in the
        field
        of computer science. My ultimate goal is to leverage my skills and education to make a positive
        impact on society through innovative technology solutions. <br>
        <br>
      </p>
    </div>
  </section>

  <%- include('./layouts/footer') %>